<div class="main">
	<div class="border" (click)="noti.unread = false" [routerLink]="noti.link">
  

		<app-icon [iconName]="'app_' + noti.app" iconSize="40" class="icon"></app-icon>
		<div class="text">
			<h3>{{noti.title}}</h3>
    		<span>{{noti.description}}</span>

		</div>

		<div class="date">{{ date }}</div>
	</div>
	<popper-content #readPopper style="z-index: 1000">Mark as read</popper-content>
	
	<div class="unread" *ngIf="noti.unread" (click)="noti.unread = false" [popper]="readPopper" popperTrigger="hover"
	style="z-index: 1000"></div>
	
</div>
