.cover
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 10000
	visibility: hidden
	color: var(--secondary)
.bar
	height: 50px
	text-align: center
.input
	display: inline-block
	width: 250px
	background-color: rgba(255, 255, 255, 0.1)
	border-radius: 5px
	border: 1px solid rgba(255, 255, 255, 0.3)
input
	background-color: rgba(0, 0, 0, 0)
	border: none
	outline: none
	font-size: 18px
	width: 200px