<div class="over">
	<div
		class="cover"
		[@zoom]="dataService.showAppsOverlay ? 'in' : 'out'"
		(click)="coverClick()"
	>
		<div class="bar">
			<label>
				<div class="input no-dismiss">
					<app-icon
						iconName="search"
						iconSize="18"
						class="search"
					></app-icon>

					<input
						type="text"
						[(ngModel)]="searchQuery"
						name="searchQuery"
						(keyup)="checkResults()"
					>

					<app-icon
						[@fade]="searchQuery.length == 0 ? 'hidden' : 'visible'"
						iconName="circle-times"
						iconSize="18"
						isButton="true"
						class="times"
						(click)="searchQuery = ''"
					></app-icon>
				</div>
			</label>
		</div>

		<div class="main">
			<div class="app-target" *ngFor="let app of appsOverlayService.apps">
				<app-dragover
					*ngIf="dataService.appBeingDraggedCurrentlyInAppsOverlay !== undfined"
					[indexData]=" getIndex(app) "
				></app-dragover>
				<app-detail
					[appData]="app"
					[searchQuery]="searchQuery"
				></app-detail>
			</div>
			<app-dragover
				*ngIf="dataService.appBeingDraggedCurrentlyInAppsOverlay !== undefined"
				[indexData]="appsOverlayService.apps.length"
			></app-dragover>
		</div>

		<div class="center" [hidden]="results">
			<h1>No Results</h1>
			<p>You might find an app like this somewhere else though.</p>
			<h3><a routerLink="/library">Search the library</a></h3>
		</div>

		<div class="center" [hidden]="appsOverlayService.error.length != 0 || appsOverlayService.loading || appsOverlayService.apps.length != 0">
			<h1>No Apps</h1>
			<p>But you might find one in the library.</p>
			<h3><a routerLink="/library">Search the library</a></h3>
		</div>

		<div class="center" [hidden]="!appsOverlayService.loading">
			<app-icon iconSize="50" iconName="loader"></app-icon>
		</div>
		
		<div class="center no-dismiss" [hidden]="appsOverlayService.error.length == 0">
			<p>{{appsOverlayService.error}}</p>
			<h3><a (click)="appsOverlayService.getApps()">Retry</a></h3>
		</div>

	</div>
</div>