<div class="over">
	<div
		class="cover"
		[@zoom]="dataService.showAppsOverlay ? 'in' : 'out'"
		(click)="coverClick()"
	>
		<div class="bar">
			<label>
				<div class="input no-dismiss">
					<app-icon
						iconName="search"
						iconSize="18"
						class="search"
					></app-icon>

					<input
						type="text"
						[(ngModel)]="searchQuery"
						name="searchQuery"
					>

					<app-icon
						[@fade]="searchQuery.length == 0 ? 'hidden' : 'visible'"
						iconName="circle-times"
						iconSize="18"
						isButton="true"
						class="times"
						(click)="searchQuery = ''"
					></app-icon>
				</div>
			</label>
		</div>

		<div class="main">
			
		</div>

	</div>
</div>