<div class="over no-scroll" (scroll)="onScroll($event.target.scrollTop, header)">

	<h1 #header>Habits</h1>
	
	<div class="options" [class.bar]="isFixed">
		<div style="padding: 10px"></div>
		<div class="third">
			<button routerLink="dashboard">Dashboard</button>
		</div>
		<div class="third">
			<button routerLink="reorder">Reorder</button>
		</div>
		<div class="third">
			<button routerLink="new-habit">New Habit</button>
		</div>
		<hr>
	</div>

	<div class="main container">

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


	</div>
</div>