<div class="input">
	<form action="">
		<label>

			<!-- Email Sart -->
			<div class="input-container">


				<div
					class="tooltip-container"
					*ngIf="showTooltipE"
				>
					<span class="tooltip bad"
						[class.good]="validateValuesService.validateEmail(email).correct"
					>
						{{ validateValuesService.validateEmail(email).message }}
					</span>
				</div>



				<input
					type="email"
					placeholder="Enter Email..."
					required="true"
					class="email"
					[(ngModel)]="email"
					name="email"
					(focus)="showTooltipE = true"
					(blur)="showTooltipE = false"
				>

				<app-icon
					*ngIf="validateValuesService.validateEmail(email).correct"
					class="icon x-check"
					iconName="check"
					iconSize="20"
				></app-icon>

				<app-icon
					*ngIf="!validateValuesService.validateEmail(email).correct"
					class="icon x-check"
					iconName="times"
					iconSize="15"
				></app-icon>
			</div>
			<!-- Email End -->



			<!-- Password Start -->
			<div class="input-container">

				<div
					class="tooltip-container"
					*ngIf="showTooltipP"
				>
					<span class="tooltip bad"
						[class.good]="validateValuesService.validatePassword(password).correct"
					>
						{{ validateValuesService.validatePassword(password).message }}
					</span>
				</div>

				<input
					type="password"
					placeholder="Enter Password..."
					required="true"
					class="password"
					#passwordInput
					[(ngModel)]="password"
					name="password"
					spellcheck="false"
					(focus)="showTooltipP = true"
					(blur)="showTooltipP = false"
				>

				<app-icon
					*ngIf="validateValuesService.validatePassword(password).correct"
					class="icon x-check"
					iconName="check"
					iconSize="20"
				></app-icon>

				<app-icon
					*ngIf="!validateValuesService.validatePassword(password).correct"
					class="icon x-check"
					iconName="times"
					iconSize="15"
				></app-icon>

				<app-icon
					class="icon"
					iconName="eye"
					iconSize="25"
					isButton="true"
					(click)="passwordInput.type = 'password'"
					*ngIf="passwordInput.type == 'text'"
				></app-icon>

				<app-icon
					class="icon"
					iconName="eye-slash"
					iconSize="25"
					isButton="true"
					(click)="passwordInput.type = 'text'"
					*ngIf="passwordInput.type == 'password'"
				></app-icon>
			</div>
			<!-- Password End -->


			<!-- Confirm Password Start -->
			<div class="input-container">

				<div
					class="tooltip-container"
					*ngIf="showTooltipCP"
				>
					<span class="tooltip bad"
						[class.good]="(password === confirmPassword && password.length !== 0)"
					>
						{{ password === confirmPassword && password.length !== 0 ? "Looks good!" : "Passwords must match!" }}
					</span>
				</div>

				<input
					type="password"
					placeholder="Confirm Password..."
					required="true"
					class="password"
					#ConfirmInput
					[(ngModel)]="confirmPassword"
					name="ConfirmInput"
					spellcheck="false"
					(focus)="showTooltipCP = true"
					(blur)="showTooltipCP = false"
				>

				<app-icon
					*ngIf="password === confirmPassword && validateValuesService.validatePassword(password).correct"
					class="icon x-check check"
					iconName="check"
					iconSize="20"
				></app-icon>

				<app-icon
					*ngIf="!(password === confirmPassword && validateValuesService.validatePassword(password).correct)"
					class="icon x-check times"
					iconName="times"
					iconSize="15"
				></app-icon>

				<app-icon
					class="icon"
					iconName="eye"
					iconSize="25"
					isButton="true"
					(click)="ConfirmInput.type = 'password'"
					*ngIf="ConfirmInput.type == 'text'"
				></app-icon>

				<app-icon
					class="icon"
					iconName="eye-slash"
					iconSize="25"
					isButton="true"
					(click)="ConfirmInput.type = 'text'"
					*ngIf="ConfirmInput.type == 'password'"
				></app-icon>
			</div>
			<!-- Confirm Password End -->
		</label>

		<button [disabled]="!validatePassed()">Login</button>
	</form>
</div>