<div class="over">

    <div class="can-blur">
        <div class="navbar">
            <div class="container">
                <app-icon class="menu" [iconName]=" 'menu' " [iconSize]="30" isButton></app-icon>
                <app-icon class="apps" [iconName]=" 'white-shield' " [iconSize]="30" isButton></app-icon>
                <app-icon class="settings" [iconName]=" 'settings' " [iconSize]="30" isButton></app-icon>
            </div>
        </div>


        <div class="container main">
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-sidebar></app-sidebar>

</div>