<div class="over">
	<div class="navbar" [@blurInOut]="dataService.blur ? 'in' : 'out'">
		<div class="whole">

			<app-icon *ngIf="!dataService.secondaryRoute" class="menu" [iconName]=" 'menu' " [iconSize]="30" isButton="true" (click)="
				dataService.sidebarIsIn = true;
        		dataService.blur = true;
			"></app-icon>
			<app-icon class="menu" [iconName]=" 'angle-left' " [iconSize]="22" isButton="true" (click)="goBack()"
				*ngIf="dataService.secondaryRoute"></app-icon>
			<div class="back" *ngIf="dataService.secondaryRoute" (click)="goBack()">Back</div>

			<app-icon [popper]="appsPopper" popperTrigger="hover" class="apps" [iconName]=" 'white-shield' " [iconSize]="30" isButton="true" (click)="
				dataService.blur = true;
				dataService.showAppsOverlay = true;
			"></app-icon>

			<app-icon [popper]="settingsPopper" popperTrigger="hover" class="settings" [iconName]=" 'settings' " [iconSize]="30" isButton="true">
			</app-icon>

			<popper-content #settingsPopper>User Settings</popper-content>
			<popper-content #appsPopper>My Apps</popper-content>

		</div>
	</div>

	<div class="whole main" [@blurInOut]="dataService.blur ? 'in' : 'out'">
		<router-outlet></router-outlet>
	</div>

	<app-sidebar></app-sidebar>
	<apps-overlay></apps-overlay>
</div>