<div class="over">
	<div class="navbar" [@blurInOut]="dataService.blur ? 'in' : 'out'">
		<div class="container">
			<app-icon class="menu" [iconName]=" 'menu' " [iconSize]="30" isButton="true" (click)="
				dataService.sidebarIsIn = true;
				dataService.blur = true;
			"></app-icon>
			<app-icon [popper]="appsPopper" popperTrigger="hover" popperDelay="200" class="apps" [iconName]=" 'white-shield' "
				[iconSize]="30" isButton="true" (click)="
				dataService.blur = true;
				dataService.showAppsOverlay = true;
			"></app-icon>
			<popper-content #appsPopper>My Apps</popper-content>

			<app-icon [popper]="settingsPopper" popperTrigger="hover" class="settings" [iconName]=" 'settings' " [iconSize]="30" isButton="true">
			</app-icon>
			<popper-content #settingsPopper>User Settings</popper-content>




		</div>
	</div>

	<div class="container main" [@blurInOut]="dataService.blur ? 'in' : 'out'">
		<router-outlet></router-outlet>
	</div>

	<app-sidebar></app-sidebar>
	<apps-overlay></apps-overlay>
</div>