.over
    --p-ipad: 20px
    @media (min-width: 800px)
        --p-ipad: 10px
    @media (min-width: 810px)
        --p-ipad: 0px

.navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    background-color: var(--theme1)
    height: 75px
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.2)
.container
    max-width: 800px
    position: relative
    margin: auto
.main
    height: calc(100vh - 75px)
    margin-top: 75px
    background-color: var(--primary)
.menu
    position: absolute
    top: 20px
    left: var(--p-ipad)
.apps
    position: absolute
    top: 20px
    right: calc(40px + var(--p-ipad))
.settings
    position: absolute
    top: 20px
    right: var(--p-ipad)