<div class="over">
	<div class="main w3-card">

		<p></p>
		<div class="row">
			<div class="label">Username</div>
			<input type="text" class="username" placeholder="Username" (keyup)="keyUp('username')" [(ngModel)]="accountService.userInfo.username" name="username">
		</div>
		<p></p>

		<label>
			<div class="row">
				<div class="label">Email&nbsp;<span style="color: var(--danger)">
					<span *ngIf="!emailIsValid">(Please use a valid email)</span>
					<span *ngIf="emailInUse">(This email is already being used)</span>
				</span></div>
				<input type="text" placeholder="Email" (keyup)="keyUp('email')" [(ngModel)]="email" name="email">
			</div>
		</label>

		<p></p>
		<div class="row">
			<div class="label">Password</div>
			<input type="password" class="password" disabled="true" placeholder="Password" [value]="this.user.getUser().password">
			<button style="margin-bottom: 4px">Change</button>
		</div>
		
		<p></p>

	</div>
</div>