<div class="input">
	<form action="">

		<label>
			<div class="input-container">
				<input type="email" placeholder="Enter Email..." required="true" class="email" [(ngModel)]="email"
					name="email">
			</div>
		</label>

		<label>
			<div class="input-container">
				<input type="password" placeholder="Enter Password..." required="true" class="password" #passwordInput
					[(ngModel)]="password" name="password">

				<app-icon class="icon" iconName="eye" iconSize="25" isButton
					(click)="passwordInput.type = 'password'" *ngIf="passwordInput.type == 'text'">
				</app-icon>
				<app-icon class="icon" iconName="eye-slash" iconSize="25" isButton (click)="passwordInput.type = 'text'"
					*ngIf="passwordInput.type == 'password'">
				</app-icon>
			</div>
		</label>

		

		<button [disabled]=" password.length == 0 || email.length == 0 ">Login</button>

		<div class="forgot">
			<a routerLink="/login/forgot-password" class="forgot-password">Forgot Password?</a>
		</div>
		
	</form>
	
</div>
