.input-container
    color:                      var(--primary3)
    font-size:                  15px
    outline:                    none
    background-color:           rgba(0, 0, 0, 0)
    margin-bottom:          30px
    border: none
    border-bottom: 3px solid var(--theme1)

// Input Styles
input
    outline: none
    display: block
    width: 100%
    background-color: rgba(0, 0, 0, 0)
    border: none
    padding:            7px
    font-size:          1rem

input[type=password],
input[type=text]
    width:              calc(100% - 40px)
    display:            inline-block


::placeholder
    user-selec: none
    color: var(--primary3)
    font-size: 15px

.icon
    display: inline-block
    width: 25px
    position: relative
    top: 7px

button
    outline:            none
    background-color:   var(--theme1)
    font-size:          18px
    color:              var(--secondary)
    border-radius:      5px
    display:            block
    width:              100%
    padding:           10px

button:disabled
    opacity: .5
    cursor: not-allowed