<div class="over container">
	<h2>Create a new password</h2>
	<h5>Be sure to make it strong, something you don't use on other sites.</h5>
	<form (submit)="sub()">

		<div class="row">

			<div class="tooltip-container bad" [hidden]="!passwordTooltip" [class.fine]="validateValuesService.validatePassword(password).correct">
				<span class="tooltip">{{validateValuesService.validatePassword(password).message}}</span>
			</div>

			<input autofocus="true" (blur)="passwordTooltip = false" (focus)="passwordTooltip = true" autocomplete="password"
				type="password" placeholder="Enter new password..." [(ngModel)]="password" name="password"
				#passwordInput>

			<app-icon class="icon" iconName="check" iconSize="20" *ngIf="validateValuesService.validatePassword(password).correct" style="color: var(--clear)"></app-icon>
			<app-icon class="icon" iconName="times" iconSize="20" *ngIf="!validateValuesService.validatePassword(password).correct" style="color: var(--danger)"></app-icon>


			<app-icon *ngIf="passwordInput.type === 'password' " iconName="eye-slash" class="icon eye" iconSize="20"
				isButton="true" (click)="passwordInput.type = 'text' "></app-icon>
			<app-icon *ngIf="passwordInput.type === 'text' " iconName="eye" class="icon eye" iconSize="20" isButton="true"
				(click)="passwordInput.type = 'password' "></app-icon>
		</div>

		<p></p>

		<div class="row">

			<div class="tooltip-container bad" [hidden]="!confirmTooltip" [class.fine]="confirm == password">
				<span *ngIf="confirm == password" class="tooltip">Looks good!</span>
				<span *ngIf="confirm != password" class="tooltip">Passwords must match...</span>
			</div>

			<input (blur)="confirmTooltip = false" (focus)="confirmTooltip = true" autocomplete="off" type="password" placeholder="Confirm password..."
				[(ngModel)]="confirm" name="confirm" #confirmInput>

			<app-icon class="icon" iconName="check" iconSize="20" *ngIf="password == confirm && confirm != '' " style="color: var(--clear)"></app-icon>
			<app-icon class="icon" iconName="times" iconSize="20" *ngIf="password != confirm || confirm == '' " style="color: var(--danger)"></app-icon>


			<app-icon *ngIf="confirmInput.type === 'password' " iconName="eye-slash" class="icon eye" iconSize="20"
				isButton="true" (click)="confirmInput.type = 'text' "></app-icon>
			<app-icon *ngIf="confirmInput.type === 'text' " iconName="eye" class="icon eye" iconSize="20" isButton="true"
				(click)="confirmInput.type = 'password' "></app-icon>
		</div>

		<button
			[disabled]="!(validateValuesService.validatePassword(password).correct && password == confirm)">Finish</button>
	</form>
</div>