<div class="over">
	<div
		class="main"
		[class.circle]="isCircle"
		[class.bounce]="shouldBounce"
		[class.shadow]="showShadow"

		[style.height]="avatarSize + 'px'"
		[style.width]="avatarSize + 'px'"
		[style.backgroundImage]="'url(' + image + ')'"
		[style.backgroundColor]="color"
	>
		<div
			[hidden]="waiting"
			class="letter"
			
			[style.fontSize]="avatarSize * 0.7 + 'px'"
			[style.top]="avatarSize * 0.08 + 'px'"
		>{{letter}}</div>
		<div class="loader" *ngIf="waiting" [style.marginTop]="avatarSize * 0.2 + 'px'">
			<app-icon [iconSize]="avatarSize * 0.5" iconName="loader"></app-icon>
		</div>
	</div>
</div>